body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ////////////////////////////// ALL ALBUMS STYLING ////////////////////////////// */
img {
  height: 100px;
  width: 100px;
}

.all-albums {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
