body {
  font-family: Helvetica;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(27,45,83,1) 10%, rgba(0,0,0,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  font-family: Helvetica;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* ==================================================================
  Nav
=====================================================================  */
nav {
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: ffffff;
  display: flex;
  height: 50px;
  padding: 0px;
}

.logo {
  margin: 0;
  font-size: 1.7em;
}


a {
  color: #ffffff;
  font-family: Helvetica;
  font-weight: 400;
}

.main-nav {
  margin-top: 5px;
}

.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #ffffff;
  font-size: 1.15em;
  transition: all 1.75s;
}

.main-nav a:hover {
  background-color: #e5e5e5;
  color: #000000;
  z-index: 1;
}

.main-nav a:hover:after {
  z-index: -10;
  animation: fill 0.1s forwards;
  opacity: 1;
}

.header {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  background-color: rgba(0, 0, 0, 0.541);
  position: fixed;
  top: 0;
  width: 100%;
}

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* ==================================================================
  All Albums
=====================================================================  */
.all-albums-cover {
  display:block;
  height: 150px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.all-albums-container {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  padding-left: 10px;
  padding-right: 10px;
}

.all-albums {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}

.album {
  border-style: solid;
  border-color: #ffffff2a;
}

/* ==================================================================
  CART
=====================================================================  */

.cart-container {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  background-color: lightgray;
}

#cart-img {
  height: 180px;
  width: 180px;
}

#total {
  color: #FFFFFF;
}


/* ==================================================================
  CONFIRMATION PAGE
=====================================================================  */

.confirmation-container {
  display: flex;
  flex-direction: row;
}

/* ==================================================================
SINGLE ALBUM
=====================================================================  */

.single-album-artwork {
  height: 300px;
  width: 300px;
}

.single-album-container {
  display: flex;
  flex-direction: row;
  padding-top: 10rem;
  color: white;
  justify-content: center;
  align-items: center;
}

.single-album-info {
  padding-left: 1rem;
}

#add-to-cart {
  width: 100px;
  height: 20px;
}

#single-album-quantity {
  width: 50px;
  height: 25px;

}

/* ==================================================================
  CART
=====================================================================  */

.cart-title {
  font-size: 3em;
  font-weight: 80;
  text-align: center;
  padding: 15px 25px;
  border-bottom: 4px #DCB239 solid;
}

.cart-table {
  min-width: 400;
  max-width: 900;
  border: 1px solid #002d73;
  padding: 10px;
  margin: auto;
  width: 50%;
}


/* ==================================================================
  All Users
=====================================================================  */
.allUsers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 5rem;
}

#userImage {
  height: 200px;
  width: 200px;
}

.user-name {
  color: white;
}

/* ==================================================================
  Admin
=====================================================================  */
.admin-page-container {
  padding-top: 5rem;
}

.add-album-container {
  padding-top: 5rem;
  color: white;
}

.add-album-form {
  color: white;
}


/* ==================================================================
  Sign up form
=====================================================================  */
.auth-form-container {
  padding-top: 5rem;
}

.auth-form-text {
  color: white;
}

/* Confirmation */

.confirmation-container {
  background-color: lightgray;
}
